
$desktop: 960px;
$desktopOnly: 960px 1200px;
$desktopLarge: 1200px;
$tabled: 600px;
$tabledOnly: 600 60px;
$mobileMax: 0 600px;

$staticGrey: #838a92;
$hoverBlue: #548eaa;
$currentBlack: #464646;

$bGrey: #a4afba;
$bBlue: #65a3be;
$bHoverBlue: #367089;
$blHoverBlue: #487284;

$titleGrey: #464646;