form { width: 100%; margin-right: 30px; }
form input[type="checkbox"] { width: auto; height: auto; margin: 0 6px; }
form .form__item-label { margin-bottom: 7px; margin-top: 40px; color: #424242; font-size: 13px; font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif; }
form .form__item-remember { display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; }
form .form__item-remember .form__item-label { margin: 0; }
form .form__item-name .form__item-label { margin-top: 0; }
form input, form textarea { width: 100%; height: 30px; border: 1px solid #d9d9d9; }
form select { height: 100px; }
form textarea { height: 600px; resize: none; }
form .form__item-description textarea { height: 200px; }
form .form__item-image img { width: 50%; height: 50%; }
form .form_action { margin: 40px 0; }
form .form_action .form-btn { cursor: pointer; margin: 0 auto; background-color: #ffffff; }
form .form_action .form-btn:hover { background-color: #ddd; }
form .form_action .submit_btn-create { width: 100px; }
form .form_action .submit_btn-save { width: 160px; height: 32px; }
form .form_action .submit_btn-delete { width: 170px; }
form .form_action .submit_btn-edit { width: 100px; }
form .form_action .submit_btn-reg { margin-top: 3px; width: 160px; }
form .form_action .return_btn, form .form_action .submit_btn-delete, form .form_action .submit_btn-edit { border: 1px solid #d9d9d9; padding: 7px 10px; text-decoration: none; color: #0f0f0f; font-size: 14px; }

.comment-list textarea { height: 100px; }

.form-header { margin: 0; display: flex; align-items: center; height: 90px; }
.form-header .form__title { position: relative; margin: 0; padding: 0; color: #535353; font-size: 22px; font-family: 'Arial',sans-serif; }

form[name='comment_form'] label { display: none; }
