{% trans_default_domain 'FOSUserBundle' %}

<h1>Регистрация нового пользователя</h1>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div class="form_action">
    <input class="form-btn submit_btn-reg" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
