{% extends '@AntohaPublication/System/nav.html.twig' %}
{% block block_class %}footer-grid-menu menu--footer-grid-menu{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}
    <h3 class="footer-block__title">UnknownSection
    </h3>
<div class="footer-block__content">
    <ul class="footer-menu">
        <li><a href="#">Lrerum Ispum</a></li>
        <li><a href="#">Lrerumr Ispum</a></li>
    </ul>
</div>
{% endblock %}