{% extends '@AntohaPublication/System/nav.html.twig' %}
{% block block_class %}footer-grid-menu menu--footer-grid-menu{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}
    <h3 class="footer-block__title">Информация
    </h3>
<div class="footer-block__content">
    <ul class="footer-menu">
        <li><a href="#">Правила</a></li>
        <li><a href="#">Помощь</a></li>
        <li><a href="#">Конфиденциальность</a></li>
        <li><a href="#">Соглашения</a></li>
    </ul>
</div>
{% endblock %}