{% extends '@AntohaPublication/System/block.html.twig' %}
{% block block_class %}logo{% endblock %}
{% block block_title_wrap %}{% endblock %}
{% block block_content %}<a href="{{ path('publication_preview') }}"><img src="{{ asset('images/publogo.png') }}" alt="logo" width="126" height="26"></a>{% endblock %}