@import "../default";
@import "../inc/variable";
@import "../inc/mixins";

.footer{
  background-color: #FFFFFF;
  border-top: 1px solid #d5dddf;
  flex: 0 0 auto;
}
.region-footer{
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  @include display-flex;
  .block{
    margin-left: 20px;
    margin-bottom: 10px;
    &:first-child{
      margin: 0;
    }
    width: 180px;
    }
  }

.footer-block__title{
  font: 14px/20px "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
  color: #464646;
  margin: 0;
  padding: 0;
  height: 50px;
  font-weight: 400;
  border-bottom: 1px solid #d5dddf;
  line-height: 50px;
}

.footer-block__content{
  margin: 0;
  @include resetLi;
  a{
    color: #548eaa;
    white-space: nowrap;
    font-size: 13px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    line-height: 30px;
    text-decoration: none;
    &:hover{
      color: #385c77;
    }
  }
}

.footer-menu{
  margin: 0;
  padding: 0;
}
