@import "../default";
@import "../inc/variable";
@import "../inc/mixins";




form {
  width: 100%;
  margin-right: 30px;

  input[type="checkbox"]{
    width: auto;
    height: auto;
    margin: 0 6px;
  }
  .form__item {
    &-label {
      margin-bottom: 7px;
      margin-top: 40px;
      color: #424242;
      font-size: 13px;
      font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
    }
    &-remember{
      @include display-flex;
      @include align-items(center);
      .form__item-label{
        margin: 0;
      }
    }
    &-name {
      .form__item-label {
        margin-top: 0;
      }
    }
  }

  input, textarea {
    width: 100%;
    height: 30px;
    border: 1px solid #d9d9d9;
  }

  select{
    height: 100px;
  }

  textarea {
    height: 600px;
    resize: none;
  }

  .form__item-description{
    textarea{
      height: 200px;
    }
  }
  .form__item-image{
    img{
      width: 50%;
      height: 50%;
    }
  }

  .form_action{
    margin: 40px 0;
    .form-btn{
      cursor: pointer;
      margin: 0 auto;
      background-color: #ffffff;
      &:hover{
        background-color: #ddd;
      }
    }
    .submit_btn{
      &-create{
        width: 100px;
      }
      &-save{
        width: 160px;
        height: 32px;
      }
      &-delete{
        width: 170px;
      }
      &-edit{
        width: 100px;
      }
      &-reg{
        margin-top: 3px;
        width: 160px;
      }
    }
    .return_btn, .submit_btn-delete, .submit_btn-edit{
      border: 1px solid #d9d9d9;
      padding: 7px 10px;
      text-decoration: none;
      color: #0f0f0f;
      font-size: 14px;
    }
  }
}

.comment-list{
  textarea{
    height: 100px;
  }
}

.form-header{
  margin: 0;
  display: flex;
  align-items: center;
  height: 90px;
  .form__title{
    position: relative;
    margin: 0;
    padding: 0;
    color: #535353;
    font-size: 22px;
    font-family: 'Arial',sans-serif;
  }
}

form[name='comment_form']{
  label{
    display: none;
  }
}